@import 'vars'
@import 'fonts'
@import 'reset'
@import 'libs'
@import 'global'

.header
    position: absolute
    top: 0
    left: 0
    right: 0
    width: 100%
    padding-top: 54px
    z-index: 10
    &__inner
        justify-content: space-between
        align-items: center
    &__phone
        font-weight: 500
        margin-bottom: 8px
        &.change
            color: #FFCE00
        &:hover
            color: #fff
    &__mail
        align-items: center
        font-size: 24px
        line-height: 33px
        color: #fff

        &:hover svg
            transform: translateY(-3px)

    &__mail svg
        margin-right: 10px
        transform: translateY(2px)
        transition: transform .3s

.banner
    display: flex
    align-items: center
    &-slider
        width: 100%
    &-item
        display: flex
        flex-direction: column
        height: 100%
        justify-content: space-between
        position: relative
    &-item__img img
        width: 100%

    &-slider-btn-group
        position: relative
        z-index: 11
        display: flex
        align-items: center
        width: 100%
        margin-top: -70px
    &-slider__text
        font-weight: 500
        font-size: 12px
        line-height: 17px
        color: rgba(255, 255, 255, 0.6)

.banner-slider
    .slick-dots
        justify-content: center
        position: absolute
        margin: 0 auto
        width: 100%
        bottom: 40px
    .slick-dots li
        background-color: rgba(#fff, 0.6)
    .slick-dots li.slick-active
        background-color: #fff

.banner-slide
    height: 102vh
    width: 100%
    padding-top: 19vh
    padding-bottom: 70px
    &:nth-child(2n)
        background: radial-gradient(308.28% 203.65% at 100% 100%, #751470 0%, #671C6D 20%, #5E206C 39%, #641E69 49%, #741962 63%, #8F1155 78%, #B40544 94%, #C4003D 100%)
    &:nth-child(2n+1)
        background: radial-gradient(210.25% 118.27% at 88.59% 92.36%, #FFB800 0%, #F15A24 51%, #FF008D 100%)
    &__img
        position: absolute
        right: 0
        width: 100%
        top: 0
    .btn
        margin-right: 20px

.btn-download svg
    display: none

.img-position
    margin-left: -43px

.socials
    &-list
        position: absolute
        right: 112px
        z-index: 11
        top: 41%
    &-item:not(:last-child)
        margin-bottom: 59px

.social__link
    svg path
        transition: all .3s
    &:hover svg path
        fill-opacity: 1

.servisec
    position: relative
    margin-bottom: 120px

    &-img
        position: absolute
        right: 0
        top: 0
        width: 950px

    &__inner
        padding-top: 94px

    &__title
        max-width: 512px
        width: 100%
        font-weight: 800
        font-size: 72px
        line-height: 101px
        color: #464646
        margin-bottom: 77px

    &__title span
        color: $red

    &-items
        justify-content: space-between
        align-items: center
        border: 2px solid rgba(255, 255, 255, 0.4)
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1)
        border-radius: 20px
        padding: 37px 27px
        margin-bottom: 120px
    &__text
        position: relative
        margin-bottom: 107px
        font-weight: 800
        font-size: 32px
        line-height: 51px
        text-transform: uppercase
        color: #A3A3A3
    &-icon
        position: absolute
        top: -110px
.servisec-item
    position: relative
    text-align: center
    max-width: 186px
    width: 100%
    transition: background .3s
    padding: 15px 0 12px
    border-radius: 10px
    overflow: hidden
    &::before
        content: ''
        position: absolute
        left: 0
        right: 0
        bottom: 0
        top: 0
        border-radius: 10px
        background: radial-gradient(100% 100% at 0% 0%, #FEB301 0%, #F36D1C 51.04%, #FB196F 100%)
        width: 0
        height: 0
        margin: auto
        transition: all .3s
        z-index: -1
    &:hover
        color: #fff
        &::before
            width: 100%
            height: 100%
        svg path
            fill: #fff
        &__icon
            margin: 0 auto 17px
        &__title
            max-width: 151px
            margin: 0 auto

.partner
    &-items
        align-items: center
        justify-content: flex-end
        margin-bottom: 40px
    &-item:not(:last-child)
        margin-right: 77px
    &-item img.mb
        margin-bottom: 18px

.servisec-cards
    justify-content: space-between

    &-col
        width: 100%

    &-col:first-child
        max-width: 465px

    &-col:last-child
        max-width: 789px

    &-row
        justify-content: space-between

        &:first-child
            margin-bottom: 20px

.servisec-card
    position: relative
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    border-radius: 20px
    padding-top: 31px
    padding-left: 40px
    padding-bottom: 27px
    height: 420px
    width: 100%
    transition: all .3s
    color: #fff
    overflow: hidden
    &__sm
        max-width: 384px
        height: 200px

    &__title
        position: relative
        max-width: 278px
        width: 100%
        font-weight: 800
        font-size: 24px
        line-height: 34px
        z-index: 2

    &__content
        position: absolute
        opacity: 0
        z-index: -11
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: space-between
        height: 100%
        transition: opacity .3s

    &__text
        font-weight: 500
        font-size: 16px
        line-height: 22px
        max-width: 312px
        width: 100%
    &__link
        color: #FFCE00
        border-color: #FFCE00
        &:hover
            background-color: #FFCE00
            color: #464646

.servisec-card:hover
    background-color: #000
    .servisec-card__title
        opacity: 0
        position: absolute
        z-index: -1

    .servisec-card__content
        opacity: 1
        z-index: 11
        position: initial

.servisec-card.first
    background-image: url(../images/servisec-card-1.jpg)
    &:hover
        background-image: url(../images/servisec-card-1.png)
.servisec-card__sm:first-child
    background-image: url(../images/servisec-card-2.jpg)
    &:hover
        background-image: url(../images/servisec-card-2.png)

.servisec-card__sm:nth-child(2)
    background-image: url(../images/servisec-card-3.jpg)
    &:hover
        background-image: url(../images/servisec-card-3.png)

.servisec-card__sm:nth-child(3)
    background-image: url(../images/servisec-card-4.jpg)
    &:hover
        background-image: url(../images/servisec-card-4.png)

.servisec-card__sm:nth-child(4)
    background-image: url(../images/servisec-card-5.jpg)
    &:hover
        background-image: url(../images/servisec-card-5.png)

.subtitle
    margin-bottom: 14px

.title
    margin-bottom: 8px

.about
    padding: 109px 0 115px
    &__text
        margin-bottom: 77px
    &-items
        align-items: center
        justify-content: space-between
    &-item
        text-align: center

.about-item
    &__img
        position: relative

        &::before
            content: ""
            position: absolute
            left: 0
            top: 0
            bottom: 0
            right: 0
            margin: auto
            background: radial-gradient(85.42% 85.42% at 13.33% 10.63%, #FEB301 0%, #F36D1C 51.04%, #FB196F 100%)
            border-radius: 50%
            width: 240px
            height: 240px
            z-index: 1

    &__img img
        position: relative
        margin: 0 auto
        z-index: 2

    &__text
        margin-top: 2px
        font-weight: 500
        font-size: 16px
        line-height: 22px
        color: #A3A3A3

.production
    padding: 109px 0 120px
    &__text
        margin-bottom: 90px
    &-items-row
        justify-content: space-between
        align-items: center
        &:first-child
            margin-bottom: 40px

.production-item
    border-radius: 20px
    width: 24%
    height: 240px
    padding: 8px 58px 41px 31px
    filter: drop-shadow(0px 0px 5px rgba(89, 0, 0, 0.15))
    &__step
        font-weight: 800
        text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1)
        font-size: 32px
        line-height: 44px
        color: #FFFFFF
        text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1)

    &__step span
        font-size: 72px
        line-height: 98px

    &__title
        max-width: 160px
        width: 100%
        margin: 0 auto

    &__title a
        color: $red

        &:hover
            text-decoration: underline

    &-last
        color: #464646
        background-color: #fff

    &__icons
        max-width: 110px
        margin: 0 auto 19px

.gallery
    padding: 103px 0 120px
    &-tabs
        align-items: center
        justify-content: center
        margin-bottom: 73px

    &-content
        margin-bottom: 60px
    &__images
        flex-wrap: wrap
        justify-content: space-between
    &-img
        margin-bottom: 20px
    &-btn
        display: block
        margin: 0 auto

.gallery-tab
    font-weight: 500
    font-size: 24px
    line-height: 33px
    color: #747474
    transition: all .3s
    cursor: pointer
    &:not(:last-child)
        margin-right: 79px
    &:hover
        color: $red - #111
    &.active
        color: $red
        pointer-events: none

.reviews
    padding: 104px 0 331px
    overflow: hidden
    &__title
        margin-bottom: 99px
    &__inner
        position: relative
    .slick-list
        overflow: visible

.reviews-item
    display: flex
    align-items: center
    justify-content: space-between
    &__img
        border-radius: 50%
        overflow: hidden
        width: 200px
        height: 200px
        background: $gradient
    &__content
        display: flex
        flex-direction: column
        align-items: flex-end
        max-width: 970px
        width: 100%
        margin-left: 104px
        font-weight: 500
        font-size: 24px
        line-height: 34px
        color: $grey
    &__text
        margin-bottom: 32px
        position: relative
        &::before
            content: ''
            position: absolute
            top: -43px
            left: -30px
            width: 92px
            height: 80px
            background-image: url(../images/icons/quotes.svg)
            z-index: -1
    &__author
        text-align: right
        position: relative
        color: #747474
        &::before
            content: ''
            position: absolute
            width: 23px
            height: 1px
            background-color: #747474
            top: 50%
            left: -42px

.reviews-slider
    &-nav
        display: flex
        align-items: center
        position: absolute
        left: 300px
        bottom: 0px
    &-buttons
        display: flex
        flex-direction: row-reverse
        justify-content: start
        margin-right: 30px

.specials
    padding: 119px 0 120px
    &__inner
        align-items: center
    &-card
        max-width: 1000px
        width: 100%
        padding: 104px 152px 89px 74px
        border-radius: 20px
    &-items
        align-items: center
        margin-bottom: 40px
    &-card__title
        font-weight: 800
    &-card__suptitle
        font-weight: 500
        padding-left: 51px
        span
            font-weight: 800

.specials-item
    filter: drop-shadow(0px 0px 5px rgba(89, 0, 0, 0.15))
    text-transform: uppercase
    max-width: 350px
    width: 100%
    border-radius: 10px
    padding: 37px 56px 37px 36px
    &:not(:last-child)
        margin-right: 74px
    &__subtitle
        font-weight: 500
        font-size: 16px
        line-height: 22px

    &__title
        font-weight: 800
        font-size: 128px
        line-height: 179px
        text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1)
        span
            font-size: 72px
            line-height: 101px

    &__text
        font-weight: 800
        font-size: 16px
        line-height: 22px

.form
    width: 350px
    border-radius: 20px
    padding: 40px 36px
    margin-left: -77px
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.24) 100%)
    border: 2px solid rgba(255, 255, 255, 0.4)
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1)
    backdrop-filter: blur(10px)
    &-btn
        background-color: $red
        color: #fff
        border-color: $red
        margin-bottom: 23px
        width: 100%
        &:hover
            background-color: transparent
    &-checkbox
        margin-bottom: 20px
    &-checkbox label
        font-weight: 400
        font-size: 10px
        line-height: 14px
        color: #464646
        align-items: flex-start
.captcha
    margin: 0 auto

.footer
    background-color: #000
    color: $grey
    &__inner
        align-items: center
        justify-content: space-between
    &__content
        padding: 69px 0 111px
    &-col
        font-weight: 500
        font-size: 16px
        line-height: 35px
    &-col:first-child
        margin-right: 120px
    &__logo
        margin-bottom: 105px
        display: inline-block
    &-socials
        align-items: center
    &-social__link:not(:last-child)
        margin-right: 45px
    &-address
        margin-bottom: 49px

.footer-contacts
    &__link
        align-items: center
        &:hover
            text-decoration: underline
        &:hover img
            transform: translateY(-3px)

    &__link img
        margin-right: 11px
        transition: transform .3s

.map
    width: 540px
    height: 439px

@import media
